

body {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 25%;
    margin-bottom : 10%;
    
}

#back-to-top {
    display : none;
    margin-top: 10%;
    color: green;
    text-decoration: underline;
}

.sentence-div {
    font-size: 0.8em;
    font-weight: 400;
    
}


#div-books-selection {
    display: none;
}

#button-patterns {
    margin-bottom: 5%;
}

#div-patterns-display {

}

#div-units {
    display : none;
}

.sentences {
    font-size: 1rem;
}
